# NOTE: install torch with CUDA 12.4 first!

# install datasets tools
# nuscenes-devkit==1.1.11 # Not support python 3.12

# install other tools
torchinfo==1.8.0
opencv-python==4.10.0.84
pillow==11.0.0
psutil==6.1.0
matplotlib==3.9.2
open3d==0.18.0 # https://www.open3d.org/docs/latest/getting_started.html
#grad-cam==1.5.4
albumentations==1.4.21
monkeytype==23.3.0

# log tools
loguru==0.7.2
rich==13.9.4
swanlab==0.3.23
#tqdm==4.66.5

# export tools
onnx==1.17.0
onnxruntime-gpu==1.20.0
onnxscript==0.1.0.dev20241102
onnxsim==0.4.36
torch-tensorrt==2.5.0 # https://pytorch.org/TensorRT/getting_started/installation.html#installation
tensorrt==10.3.0
# pip install "nvidia-modelopt[all]~=0.19.0" --extra-index-url https://pypi.nvidia.com # https://nvidia.github.io/TensorRT-Model-Optimizer/getting_started/2_installation.html

# check if torch.complie is supported on windows
# https://huggingface.co/madbuda/triton-windows-builds/tree/main