loguru
opencv-python-headless
numba
scikit-image
scikit-learn
swanlab
tqdm
matplotlib
tensorboard
torchinfo
orjson # faster json
pympler # RAM checker
annoy # near find

# fire
# pyyaml
# rich
# torchinfo
#ultralytics
# protobuf==3.20.0
# albumentations
# torchdata==0.5.1 # torch==1.13.1 # or conda install pytorch::torchdata